body{
    background-color: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    margin: auto;
    height: 100vh;
    position: relative;
}


/*center container*/

.flex-container{
    display: flex;
    flex-flow: row nowrap;
    background-color: hsl(244, 38%, 16%);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;

    /* 
    justify-content: center;
    align-items: center;
    align-content: center; 
    */
}


/* content container */

.flex-item-content{
    width: 540px;
    height: 446px;
}


/* Big Heading */

h1{
    padding: 5% 15% 0 12%;
    line-height: 1.4;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.insights{
    color: hsl(277, 64%, 61%);
}


/*content */

.content{
    color: hsla(0, 0%, 100%, 0.75);
    padding: 5% 15% 0 12%;
    line-height: 1.7;
    font-size: 1rem;

}


/*stats */

.stat-container{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 5% 15% 0 12%;
    line-height: 1.4;
}

.stat{
    color: hsla(0, 0%, 100%, 0.6);
}

.stat-heading{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.stat-discription{
    margin-top: 7%;
    font-size: .75rem;
}


/* picture container*/

.flex-item-picture{
    background-image: url("../images/image-header-desktop.jpg");
    width: 540px;
    height: 446px;
    position: relative;
    
}

.overlay {
    background-color: hsl(277, 64%, 61%);
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
}


/*attribution */

.attribution{
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 10%;
}

/* when screen width gets smaller than the container's width*/

@media (max-width: 1080px) {
    
    .flex-container{
        margin: 10% auto;
        flex-flow: column-reverse wrap;
    }

    .attribution{
        bottom: -25%;
    }
}